* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background: #050E3B;
  color: #050E3B;
  text-shadow: none;
}

::selection {
  background: #050E3B;
  color: #050E3B;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  margin: 0;
  padding: 0;  
  overflow: scroll;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  transition: all 0.5s ease;
}

.burger-icon{
  width: 40px;
  height: 40px;
}