* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background: #050e3b;
  color: #050e3b;
  text-shadow: none;
}

::selection {
  background: #050e3b;
  color: #050e3b;
  text-shadow: none;
}

html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  transition: all 0.5s ease;
}

.burger-icon {
  width: 40px;
  height: 40px;
}

.count-up-counter {
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 500;
  color: #00a6ed;
}

.service-icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider-container {
  /* background-color: blue; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.slide {
  height: 22rem;
  width: 22rem;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .burger-icon {
    width: 80px;
    height: 80px;
  }
  .count-up-counter {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .burger-icon {
    width: 40px;
    height: 40px;
  }
  .count-up-counter {
    font-size: 2rem;
  }
}
